.searchArea {
    position: absolute;
    left: 50%;
    margin-top: 350px;
    width: 560px;
    margin-left: -280px;
    z-index: 10;
}
.searchArea .searchTxtArea {
    height: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: NanumGB;
    font-size: 4.6em;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
}
.searchArea fieldset {
    position: relative;
    top: 30px;
    display: block;
    height: 53px;
    border: 2px solid rgb(255, 255, 255);
    background: url(/etc/designs/koreanair-travel/images/main/block55.png) repeat 0 0;
    border-radius: 15px;
}
.searchArea input[type="text"] {
    /* top: -2px; */
    position: absolute;
    float: left;
    width: 550px;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0);
    border: none;
    line-height: 46input::-webkit-input-placeholder {
color: red !important;
}px;
    height: 46px;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
}
.searchArea .searchBtn {
    float: left;
    position: absolute;
    left: 494px;
}
#searchText:FOCUS{
	color: white;
	border: none;
}
input::-webkit-input-placeholder {
color: white !important;
}